# Object型操作

字符串以及一些复合类型比如列表类型tuple、list，字典类型等元素类型的操作

In [1]:
__auther__ = 'zhenhang.sun@gmail.com'

In [2]:
pwd

'D:\\github\\pandas-tutorial'

In [3]:
import pandas as pd

# 0.

**统一的操作前缀 .str**

In [4]:
df = pd.DataFrame({"str": ["abcidef", "hahabciidef"],
                   "list":[[1,2,3],[4,5,6]],
                   "dict":[{'a':1, 'b':2}, {'a':10, 'b':10}]
                   
                  })
df

           str       list                dict
0      abcidef  [1, 2, 3]    {'a': 1, 'b': 2}
1  hahabciidef  [4, 5, 6]  {'a': 10, 'b': 10}

# 1. 字符串操作

## 1.1 字符串变换

常用的字符串操作都支持：可以自行查看。

In [5]:
df['str'].str.upper()

0        ABCIDEF
1    HAHABCIIDEF
Name: str, dtype: object

In [6]:
df['str'].str.capitalize()

0        Abcidef
1    Hahabciidef
Name: str, dtype: object

## 1.2 字符串提取-正则

In [7]:
df['str'].str.extract(r"(abc).*?(def)")

     0    1
0  abc  def
1  abc  def

## 1.3 查找

In [8]:
df['str'].str.find('abc')

0    0
1    3
Name: str, dtype: int64

## 1.4 分割

In [9]:
df['str'].str.split('i')

0         [abc, def]
1    [hahabc, , def]
Name: str, dtype: object

In [10]:
df['str'].str.split('i', expand=True)

        0    1     2
0     abc  def  None
1  hahabc        def

## 1.5 包含判断

In [11]:
#取第 个位置的量
df['str'].str.contains('abc')

0    True
1    True
Name: str, dtype: bool

# 2. 列表类型

In [12]:
df

           str       list                dict
0      abcidef  [1, 2, 3]    {'a': 1, 'b': 2}
1  hahabciidef  [4, 5, 6]  {'a': 10, 'b': 10}

## 2.1 取元素

In [13]:
#取第 个位置的量
df['list'].str.get(1)

0    2
1    5
Name: list, dtype: int64

## 2.2 展开

In [14]:
# 炸开 series 形式
# 注意此时不需要使用 .str
df['list'].explode()

0    1
0    2
0    3
1    4
1    5
1    6
Name: list, dtype: object

In [15]:
#炸开 dataframe 指定某列
df.explode('list')

           str list                dict
0      abcidef    1    {'a': 1, 'b': 2}
0      abcidef    2    {'a': 1, 'b': 2}
0      abcidef    3    {'a': 1, 'b': 2}
1  hahabciidef    4  {'a': 10, 'b': 10}
1  hahabciidef    5  {'a': 10, 'b': 10}
1  hahabciidef    6  {'a': 10, 'b': 10}

In [16]:
# 变为多列
pd.DataFrame( df['list'].tolist(), columns=['e1', 'e2', 'e3'])

   e1  e2  e3
0   1   2   3
1   4   5   6

# 3. 字典类型

In [17]:
df

           str       list                dict
0      abcidef  [1, 2, 3]    {'a': 1, 'b': 2}
1  hahabciidef  [4, 5, 6]  {'a': 10, 'b': 10}

## 3.1 取元素

In [18]:
#取key对应的值
df['dict'].str.get('a')

0     1
1    10
Name: dict, dtype: int64

## 3.2 展开

In [19]:
#炸开，可以只剩下key，事实上，这个操作也不适合dict
df['dict'].explode()

0    a
0    b
1    a
1    b
Name: dict, dtype: object

In [20]:
# 变为多列
pd.DataFrame(df['dict'].tolist())

    a   b
0   1   2
1  10  10