# 快速查看整体信息
上一章讲到了控制DataFrame显示的一些参数，本章则具体讲解一下如何快速获得对DataFrame的整体认知。

In [1]:
__auther__ = 'zhenhang.sun@gmail.com'

In [2]:
pwd

In [3]:
import numpy as np
import pandas as pd

# 1. info()
这是DataFrame才可用的API，快捷查看多种信息：总行数和列数、每列元素类型和非NaN的个数，总内存。

##### `DataFrame.info(verbose=None, memory_usage=True, null_counts=True)`
- verbose：True or False，字面意思是冗长的，也就说如何DataFrame有很多列，是否显示所有列的信息，如果为否，那么会省略一部分；
- memory_usage：True or False，默认为True，是否查看DataFrame的内存使用情况；
- null_counts：True or False，默认为True，是否统计NaN值的个数。

In [4]:
df = pd.DataFrame(columns = range(0,10))
df

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Index: []

In [5]:
df.info()  # 直接默认设置即可

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 10 columns):
0    0 non-null object
1    0 non-null object
2    0 non-null object
3    0 non-null object
4    0 non-null object
5    0 non-null object
6    0 non-null object
7    0 non-null object
8    0 non-null object
9    0 non-null object
dtypes: object(10)
memory usage: 0.0+ bytes

# 2. ndim, shape, size
查看维数，形状，元素个数。

In [6]:
df = pd.DataFrame([[np.nan, 2], [3, np.nan]], columns=['A','B'])
df

     A    B
0  NaN  2.0
1  3.0  NaN

In [7]:
df.ndim  # 返回维度数，Series一维，DataFrame两维，平时很少用到，不过有时会在循环中用到

2

In [8]:
df.shape  # (行数，列数)

(2, 2)

In [9]:
df.size   # 元素个数，rows×cols

4

# 3. head(), tail()
默认分别查看头5行和后5行。

##### `Series/DataFrame.head(n=5)`
##### `Series/DataFrame.tail(n=5)`

In [10]:
s = pd.Series(range(0,5))
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [11]:
s.head(3)

0    0
1    1
2    2
dtype: int64

In [12]:
s.tail(3)

2    2
3    3
4    4
dtype: int64

# 4. memory_usage()
比info中内存显示更可控一些，单位是**字节**。

##### `Series/DataFrame.memory_usage(index=True, deep=False)`
- index：是否显示索引占用的内存，毫无疑问索引也占用内存；
- deep：是否显示object类型的列消耗的系统资源，由于pandas中object元素只是一个引用，我估计这个deep是指显示真实的内存占用。

In [13]:
df.memory_usage(deep=False)  # Index即索引占用内存

Index    80
A        16
B        16
dtype: int64

In [14]:
df.memory_usage(deep=True)  # object 型占用的内存变大

Index    80
A        16
B        16
dtype: int64

# 5. describe()
快速查看每一列的统计信息，默认排除所有NaN元素。

##### `DataFrame.describe(include=[np.number])`
- include：'all'或者[np.number 或 np.object]。numberic只对元素属性为数值的列做数值统计，object只对元素属性为object的列做类字符串统计。

In [15]:
df = pd.DataFrame( [[1,'a'],[2,'b'],[1,'b']], columns=['numeric','object'])
df

   numeric object
0        1      a
1        2      b
2        1      b

In [16]:
df.dtypes

numeric     int64
object     object
dtype: object

In [17]:
df.describe()  # 默认只对数值列进行统计

        numeric
count  3.000000
mean   1.333333
std    0.577350
min    1.000000
25%    1.000000
50%    1.000000
75%    1.500000
max    2.000000

In [18]:
df.describe(include=[np.object]) # 只对object型列进行统计，类别统计方式，只统计这四种

       object
count       3
unique      2
top         b
freq        2

In [19]:
df.describe(include = 'all')  # 数值序列和object序列共同统计的信息只有count: 非NaN元素个数

         numeric object
count   3.000000      3
unique       NaN      2
top          NaN      b
freq         NaN      2
mean    1.333333    NaN
std     0.577350    NaN
min     1.000000    NaN
25%     1.000000    NaN
50%     1.000000    NaN
75%     1.500000    NaN
max     2.000000    NaN